@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'pixelify sans';
}

body {
    overflow: hidden;
}

nav {
    background: #352dc3;
    min-height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

nav h1 {
    font-size: 3.5em;
}

header {
    background: #0359ac;
    min-height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 50px;
}

header h1 {
    font-size: 2em;
}

.choose {
    background: url(images/bg.png) no-repeat fixed center;
    background-size: cover;
    min-height: calc(100vh - 190px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:50px;
}

.choose h1 {
    font-size: 3em;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 15px;
}

.options img {
    min-height: 150px;
    min-width: 150px;
    border: 15px solid #122f4a;
    padding: 5px;
}

.options img {
    transition: border 0.5s ease;
}

.player img:hover {
    border-color: #2a72b5;
    cursor: pointer;
}

.message {
    display: none;
    justify-content: center;
    align-items: center;
    top: 500px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 600px;
    position: absolute;
    background-color: #70a9ff90;
    font-size: 15em;
    text-shadow: 0 15px rgb(0, 0, 0);
    color: white;
    border: 15px solid black;
}


@media (max-height: 900px) {
    .options img {
        min-height: 70px;
        min-width: 70px;
    }
}

.hidden {
    display: none;
    position: absolute;
    top: 500px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #70a9ff90;
    width: 800px;
    height: 500px;
    flex-direction: column;
    padding: 25px;
    align-items: center;
    gap: 25px;
    border: 15px solid black;

}

.hidden label {
    font-size: 2rem;
}

.hidden #time {
    width: 500px;
    padding: 25px;
    font-size: 2rem;
}

.hidden #cheat {
    transform: scale(2);
}

.hidden button {
    padding: 25px;
    font-size: 25px;
}

@media (max-width: 700px) {
    body {
        overflow-y: visible;
    }
    .options {
        flex-wrap: wrap;
    }
}